@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin:0;
    background-color: #E1F0C4;
    padding-top: 100px;
    margin-left: 30px;
}
a:link {
    color:#5E4C5A;
}
a:visited {
    color:#55917F;
}
nav{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    
}
.menu{
    font-size: 1rem;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    margin-left: 10px;
}
#tituloPagina{
    font-size: 5rem;
    color:#423840;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}
.subtitulos2{
    font-size: 1.5rem;
    color:#5E4C5A;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}
.subtitulos{
    font-size: 2rem;
    color:#55917F;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
}
.textoSimples{
    font-size: 1.25rem;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
}
.projetos{
    padding: 20px;
    border-radius: 30px;
    box-shadow: #5E4C5A 8px 8px;
    width: 20rem;
    height: 21rem;
    padding-top: 5px;
    margin-top: 20px;
}
#projeto01{
    background-color: #FFE2D1;
}
#projeto02{
    background-color: #F2F8C5;
}
fieldset{
    border: 2px dashed #55917F;  
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}
#botao{
    margin-top: 10px;
    background-color: #5E4C5A;
    color: #E1F0C4;
}
.introducaoTextual{
    padding: 5px;
}