body{background-color: #FFF9D6;}
#tituloPrincipal{
    font-size: 40px;
    color:#0E5F07;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -5px;
}
p{
    font-size: 25px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.5px;
}
ul li{
    font-size: 20px;
    text-decoration:underline;
}
table{
    border: 2px solid black;
    margin: 15px;
}
.cabecalho{
    font-size: 30px;
    background-color: #0E5F07;
    color:#FFDC18;
    padding:10px;
}
td{
    font-size: 20px;
    background-color: #FFDC18;
    text-align:center;
    padding:10px;
}
