@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.titulo{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 50px;
    margin-bottom: -10px;
    margin-top: 10px;
}
.container01{
    padding: 10px;
    color: white;
    display:flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    background-image: url("imagens/backgroundIndexContainer.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: 200px -50px;
}