@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:#EC1E24;
}
button {
    background-color: #3C1518;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size:18px;
    border-radius: 30px;
}

button:hover {
    background-color: #EC1E24;
    margin-bottom: 1rem;
}
button a {
    color: white;
    text-decoration: none;
}
button a:hover {
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    color: #F2F3AE;
    background-color: #172125;
}
main p {
    margin: 20px;
}
main h1 {
    margin: 20px;
}
main h2 {
    color: #EC1E24;
    margin: 20px;
}
main h3 {
    color: #C0F6FF;
    margin: 20px;
}
form textarea {
    margin-left: 20px;
    margin-top: -10px;
}
form text {
    margin-top: -10px;
}
#button {
    margin: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
    margin-right: 50px;
}
.hamburger {
    display: none;
    color: #F2F3AE;
    font-size: 2rem;
}
.logo {
    padding: 10px;
    color: #F2F3AE;
}
.logo img{
    height: 40px;
    width: 40px;
}
footer {
    background-color: #111;
    text-align: center;
    padding: 20px;
}
.socialContainer {
    margin-bottom: 10px;
}

.socialContainer a {
    display: inline;
    margin: 0 50px;
}
.socialContainer img {
    width: 40px;
    height: 40px;
}
#X{
    width: 10px;
    height: 10px;
}
@media (max-width: 600px) {

}