.titulo{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    letter-spacing: -2px;
    font-style: normal;
    font-size: 65px;
    margin-bottom: -20px;
    margin-top: 10px;
}

.container01{
    padding: 10px;
    color: black;
    display:flex;
    height: 500px;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    background-image: url("imagens/backgroundIndexContainer01.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center -20px;
}

.container01 p {
    font-size: 25px;
    color: #3C1518;
}

.container02 img{
    width: 100%;
}

.citacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
