@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin:0;
    color: #333;
    background-color: #EDECE8;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
nav {
    display: flex;
    justify-content: space-between;
    color:#D2D0C6;
    background-color: #4E5166;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    gap: 30px;
    margin-right: 10px;
}
.hamburger {
    display: none;
    color: #D2D0C6;
    font-size: 2rem;
}
.logo {
    padding: 10px;
    font-size: 25px;
}
a {
    color: #D2D0C6;
    text-decoration: none;
}
a:hover {
    color: #B5AA9D;
}
.intro {
    background-image: url("https://images.unsplash.com/photo-1549918864-48ac978761a4?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070");
    background-attachment: fixed;
    background-size: cover;
    background-position: 20px top;
    color: #4E5166;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}
.intro h1 {
    font-size: 30px;
    margin-bottom: 0px;
}
.section {
    padding: 30px;
    text-align: center;
}
.tituloSection{
    text-align: left;
}
.section h2 {
    color: black;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.grid-container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 1.5rem;
}
.card {
    background: #f8f8f8;
    transition: transform 0.3s;
}
.card:hover {
    width: 102%;
    height: 105%;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h3 {
    margin: 20px;
    color: #4E5166;
}
.card p {
    padding: 0 20px 20px;
}
.food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.food-card {
    background: #f9f9f9;
    width: auto;
}
.food-card:hover {
    background-color: #e0ddff;
}
.food-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.food-card h3 {
    margin: 20px;
    color: #4E5166;
}
.food-card p {
    padding: 0 20px 20px;
}
#culture p{
    text-align: left;
}

@media (max-width: 600px) {
    nav ul{
        display:none;
    }
    .hamburger {
        display: block;
        margin-right: 10px;
    }
    .grid-container {
        grid-template-columns: 90%;
    }
    .food-container {
        flex-direction: column;
        align-items: center;
    }
    .intro h1 {
        font-size: 20px;
        color: #D2D0C6;
    }
    .intro p{
        font-size: 12px;
        color: #D2D0C6;
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 45% 45%;
    }
    .food-card {
        width: 40%;
    }
    .hamburger {
        display: none;
    }
}
@media (min-width: 1025px) {
    .grid-container {
        grid-template-columns: 32% 32% 32%;
    }
    .hamburger {
        display: none;
    }
    .food-card {
        width: 30%;
    }
}